/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 body {
  position: relative;
  color: white;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url('../assets/mCeonzr.jpg');
  font-family: sans-serif;
  overflow-y: hidden;
  min-height: 100%;
  /* justify-content: center; */
  /* align-items: center; */
}

.StepperMaindiv {
  background: none;
  flex: auto;
  width: 90%;
  box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)';
  border-radius: 3;
  color: 'white';
}
