/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../assets/mCeonzr.jpg');
  font-family: sans-serif;
  overflow-y: hidden;
  min-height: 100%;
  /* justify-content: center; */
  /* align-items: center; */
}

.Login {
  margin: 50px auto;
}

.Login #box {
  margin: auto;
  align-items: center;
  background-color: azure;
  border-radius: 10px;
  padding-right: 50px;
}

.Login #forms form {
  max-width: 250px;
  justify-content: start;
}
.btnSubmit {
  border-radius: 5px;
}

.Multar {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 150px;
  margin-right: 125px;
  height: 50px;
  width: 200px;
  border-radius: 15px;
  border-color: transparent;
  background-color: rgb(204, 127, 41);
}
.Prender {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 150px;
  margin-right: 125px;
  height: 50px;
  width: 200px;
  border-radius: 15px;
  border-color: transparent;
  background-color: rgb(204, 127, 41);
}
.Deter {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 150px;
  margin-right: 125px;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  border-color: transparent;
  background-color: rgb(67, 68, 68);
}

.name {
  text-align: center;
  font-size: 30px;
  color: #555;
}

.StepperMaindiv {
  background: none;
  flex: auto;
  width: 90%;
  box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)';
  border-radius: 3;
  color: 'white';
}
.button-container {
  float: right;
  margin-right: 10px;
}
#datetime-local {
  text-decoration-color: white !important;
  color: white !important;
  font-size: 30px;
}
#datetime-local-label {
  text-decoration-color: whitesmoke !important;
  color: whitesmoke !important;
}
.div-crimes {
  max-height: 637px;
  min-height: 637px;
  background-color: #000000ad;
  padding-left: 25px;
  padding-top: 15px;
}
.div-linha {
  display: inline-flex;
  margin-top: 15px;
  margin-bottom: 15px;
}
.description {
  margin: 20px;
  text-decoration: underline;
}
.description-checkbox {
  margin: 5px 15px 0px 25px;
  text-decoration: underline;
  max-width: 700px;
}
@media (max-width: 1348px) {
}
@media (min-height: 1200px) {
  .div-crimes {
    max-height: 400px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
